body{
    background-color: blueviolet;
}
.titulo{
    background-color: darkmagenta;
    color: darkorchid;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    width: 50%;
    margin-left: 28%;
}
.etiqueta{
    color: rgb(59, 2, 84);
    text-align: right;
}
.cajaNumero{
    background-color: rgb(59, 2, 84);
    color: darkorchid;
    padding: 3px;
    margin: 3;
    border-radius: 10px;
    text-align: right;
}
.cajaLetra{
    background-color: rgb(59, 2, 84);
    color: darkorchid;
    padding: 3px;
    margin: 3;
    border-radius: 10px;
    text-align: right;
}
.boton{
    width: 31%;
    margin-left: 18%;
    border-radius: 20px;
}